.addDevotee{
    font-size: 15px;
    color: gray;
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.addDevotee:hover{
   box-shadow:  3px 3px lightgrey;

}